[MASTER]
disable=
    broad-except,
    invalid-name,
    logging-format-interpolation,
    logging-fstring-interpolation,
    too-few-public-methods,
    too-many-ancestors,
    too-many-instance-attributes,
    unused-argument,
    wrong-import-order
max-line-length=100
max-args = 7
ignore-imports=y

[DESIGN]
max-locals=25
max-branches=20
max-statements=150

[SIMILARITIES]
min-similarity-lines=10
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
