[dev-packages]
boto3 = "*"
black = "==20.8b1"  # pre-releases are not found by default
pylint = "*"
pytest = "*"
pytest-cov = "*"
viyahe-graphql = {git = "ssh://git@github.com/viyahe/appsync.git", ref = "develop"}
aws-cdk_aws-lambda-event-sources = "==1.110.1"
aws-cdk_assertions = "==1.110.1"

[packages]
python-dotenv = "*"
viyahe-platform-common = {git = "ssh://git@github.com/viyahe/python-common.git", ref = "develop", subdirectory = "platform_common"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
pylint = "pylint dummy"
pydocstyle = "pydocstyle dummy"
pytest = "pytest --cov=dummy --cov-report xml --cov-report term-missing -p no:warnings"
